{% extends 'cmsbase.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block brand %}
Manage Contents
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'instructor_reviewprograms' %}">Review Programs</a></li>
    <li><a href="{% url 'edit_reviewprogram' reviewprogram.id %}">{{ reviewprogram.title }}</a></li>
    <li><a href="{% url 'list_mocktests' reviewprogram.id %}">Mock Tests</a></li>
    <li><a href="{% url 'edit_mocktest' reviewprogram.id mocktest.id %}">{{ mocktest.title}}</a></li>
    <li><a href="{% url 'view_sections' reviewprogram.id mocktest.id %}">Sections</a></li>
    <li><a href="{% url 'edit_section' reviewprogram.id mocktest.id mocktestsection.id %}">{{mocktestsection.title}}</a></li>
    <li><a href="{% url 'view_subsections' reviewprogram.id mocktest.id mocktestsection.id  %}">Sub Sections</a></li>
    <li><a href="{% url 'edit_subsection' reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id %}">{{mocktestsubsection.title}}</a></li>
    <li><a href="{% url 'list_questions' reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id %}">Questions</a></li> 
    <li class="active">New Questions</li>
</ul>
{% endblock %}
{% block messages %}{% include 'showmessages.html' %}{% endblock %}
{% block content %} 
 
<div class="card">
    <div class="header">
        <h4 class="title">New Question</h4>
    </div>
    <div class="content">

  <form class="center" action="{%   url 'create_question' reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id %}"
  method="POST" enctype="multipart/form-data"> 
  {% csrf_token %}
  
  {{ form.media }}
  {{form|crispy}} 
  <div class="row">
    <div id="image-holder" class="col-md-5">
    </div>
  </div>
  
  {% block additional_forms %}
  {{ choice_formset.management_form }}
  
  <div id="choices-form-container">
    {% for choice_form in choice_formset %}
      <div id="choice-{{ forloop.counter0 }}">
        {{  choice_form.as_p }}
      </div>
    {% endfor %}
  </div>


{% endblock %}


  <button class="btn btn-info" id="add-choice">Add choice</button>
 
  <button class="btn btn-primary" id="submit" type="submit" name="create">
    Create
  </button>

  </form>      
</div> 
</div>
  
  
{% endblock %}
{% block javascript %}
 
  <script type="text/html" id="choice-template">
    <div id="choice-__prefix__"  >
        {{ choice_formset.empty_form }}
    </div>
  </script> 
  <script type="text/javascript"  src="{% static 'javascript/libs/radioAndNewChoice.js' %}"></script> 
  <script type="text/javascript"  src="{% static 'javascript/libs/imagepreview.js' %}"></script> 
{% endblock %}