{% extends 'cmsbase.html' %}
{% load staticfiles %}
{% block brand %}
Manage Contents
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'instructor_reviewprograms' %}">Review Programs</a></li>
    <li><a href="{% url 'edit_reviewprogram' reviewprogram.id %}">{{ reviewprogram.title }}</a></li>
    <li><a href="{% url 'list_mocktests' reviewprogram.id %}">Mock Tests</a></li>
    <li><a href="{% url 'edit_mocktest' reviewprogram.id mocktest.id %}">{{ mocktest.title}}</a></li>
    <li><a href="{% url 'view_sections' reviewprogram.id mocktest.id %}">Sections</a></li>
    <li><a href="{% url 'edit_section' reviewprogram.id mocktest.id mocktestsection.id %}">{{mocktestsection.title}}</a></li>
    <li><a href="{% url 'view_subsections' reviewprogram.id mocktest.id mocktestsection.id  %}">Sub Sections</a></li>
    <li><a href="{% url 'edit_subsection' reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id %}">{{mocktestsubsection.title}}</a></li>
    <li class="active">Questions</li>
</ul>
{% endblock %}

{% block messages %}{% include 'showmessages.html' %}{% endblock %}

{% block header %}Questions for {{ mocktestsubsection.title }}{% endblock %}

{% block content %}
 

  
  
 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Questions for {{ mocktestsubsection.title }}</h4>
                    <p class="category">Questions List</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped datatable">
                        {% if questions %}
                        <thead>
                            <th>No</th>
                          <th>Question</th>
                          
                        </thead>
                        <tbody>
                         
                            {% for question in questions %}
                                  <tr class='clickable-row' data-href='{% url "edit_question" reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id question.id %}'>
                                        <td><b>Question No. {{ question.question_no }} </b> </td>
                                      <td>{{ question.question_text|safe }}</td>
                                    
                                    </tr> 
                              
                            {% endfor %}
                          {% endif %}
                        
                            
                            
                        </tbody>
                    </table>
  
                </div>
                <div class="card footer">
                    <a href="{% url 'create_question' reviewprogram.id mocktest.id mocktestsection.id mocktestsubsection.id%}">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create new question
                      </a>  
                    
                </div>
                
            </div>
        </div>
        
  
        
  
    </div>
  </div>
     
    {% endblock %}
  
    {% block javascript %}
    <script>
      jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
    </script>
    {% endblock %}
  
 