{% extends 'cmsbase.html' %}
{% load crispy_forms_tags %}  
{% load staticfiles %}
{% block brand %}
Manage Contents
{% endblock %}
{% block breadcrumbs %} 
<ul class="breadcrumb">
    <li><a class="" href="{% url 'instructor_reviewprograms' %}">Review Programs</a></li>
    <li class="active">{{ reviewprogram.title }}</li>
</ul>
 
{% endblock %}

{% block messages %}{% include 'showmessages.html' %}{% endblock %}
{% block content %} 

 <div class="card">
    <div class="header">
        <h4 class="title">Editing Review Program {{ reviewprogram.title }}</h4>
    </div>
    <div class="content">

  <form class="center" action="{% url 'edit_reviewprogram' reviewprogram.id %}"
  method="POST"  enctype="multipart/form-data"> 
  {% csrf_token %}
  {{ form.media }}
  {{ form|crispy }}
  
  <div class="row">
      <div id="image-holder" class="col-md-5">
      </div>
    </div>
  {% block additional_forms %}{% endblock %}
 
    <button class="btn btn-primary" id="submit" type="submit" name="update">
      Update
    </button> 
    <button class="btn btn-danger" id="delete" name="delete"
      onclick="return confirmDelete()">
      Delete
    </button>
  
  </form>    
</div>
<div class="card footer">
  
</div>
</div>
<div class="card">
  <div class="content">
      <a href="{% url 'edit_students' reviewprogram.id %}">
          <span class="ti-user"></span>
          Edit Participants
        </a>
        <br>
         
        <a href="{% url 'list_lessons' reviewprogram.id %}">
          <span class="glyphicon glyphicon-pencil"></span>
          View Lessons
        </a>
        <br>    
         
        <a href="{% url 'list_mocktests' reviewprogram.id %}">
          <span class="glyphicon glyphicon-pencil"></span>
          View Mock Tests
        </a>
        <br>    
        <a href="{% url 'view_reviewprogram_results' reviewprogram.id %}">
          <span class="glyphicon glyphicon-education"></span>
          View results
        </a>
  </div> 
</div>
 
  
{% endblock %}
{% block javascript %} 
  <script type="text/javascript"  src="{% static 'javascript/libs/imagepreview.js' %}"></script> 
{% endblock %}