{% extends 'cmsbase.html' %}
{% load staticfiles %}
{% block brand %}
Manage Contents
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li class="active">Review Programs</li> 
</ul> 
{% endblock %}

{% block messages %}{% include 'showmessages.html' %}{% endblock %}
 
{% block content %}
<div class="container-fluid" >
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title">Review Programs</h4>
                  <p class="category">Review Program List</p>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped datatable">
                      {% if reviewprograms %}
                      <thead>
                          <th>Title</th>
                        <th>Overview</th>
                        
                      </thead>
                      <tbody>
                     
                          {% for reviewprogram in reviewprograms %}
                                <tr class='clickable-row' data-href='{% url "edit_reviewprogram" reviewprogram.id %}'>
                                   
                            
                                    <td><b>{{ reviewprogram.title }} </b> </td>
                                    <td>{{ reviewprogram.overview|safe }}</td>
                                  
                                  </tr> 
                            
                          {% endfor %}
                        {% endif %}
                      
                          
                          
                      </tbody>
                  </table>

              </div>
              <div class="card footer">
                  <a href="{% url 'create_reviewprogram' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                      Create New Review Program
                  </a> 
              </div>
              
          </div>
      </div>
      

      

  </div>
</div>
   
  {% endblock %}

  {% block javascript %}
  
   
    <script>
        jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
    </script>
  
  {% endblock %}
