
{% extends 'base.html' %}
{% load staticfiles %}

{% block messages %}{% include 'messages.html' %}{% endblock %}

{% block sidebar %}
 
{%  include "navigation.html" %} 
{% endblock %} 

{% block content %} 

 
                 <div class="card mb-3"> 
                         
 
                        <div class="card-body"> 
                                <h2 class="card-title">{{ mocktest.title }}</h2> 
                                <!-- <p class="=card-text"> {{ mocktest.description|safe }}</p>
                                <p class="=card-text"> {{ mocktest.guidelines|safe }}</p> -->
                         </div>
                  </div>
                 
                   
                     
                    <div class="row">
                            <div class="col-md-12"> 
                                    <div class="card mb-3"> 
                                        <div class="card-header">
                                                <h5>{{ mocktestsection.title }}</h5>
                                        </div> 
                                        <div class="container-fluid  card-body">  
                                                         <p  class="card-text"> {{ mocktestsection.subtitle }}</p>
                                                         <p  class="card-text"> {{ mocktestsection.description|safe }}</p> 
                                                         <h6   class="card-text">Test Duration: {{ mocktestsection.test_time_minutes|safe }}  </h6>
                                                         <h6   class="card-text">Passing Mark: {{ mocktestsection.passing_mark|safe }} points / {{ mocktestsection.total_no_of_items|safe }} items </h6> 
                                                         <h6   class="card-text">Attempts: {{ mocktestsection.no_of_attempts }} / {{ mocktestsection.max_no_of_attempts }}  </h6>
                                        </div> 
                                        
                                        <hr/>
                                                 
                                                       
                                                        <div class="container-fluid  card-body"> 
                                                           
                                                            <div class="container-text">
                                                              <form class="center" action="{% url 'input_password' reviewprogram.id mocktest.id mocktestsection.id %}"
                                                              method="post">
                                                                {% csrf_token %}  
                                                                <div class="card-title">Enter Exam Password: 
                                                                <input type="password" name="input" id="input">
                                                                <button class="btn btn-primary" id="submit" type="submit">Submit</button>
                                                                 </div>
                                                              </form>
                                                            </div>
                                                            
                                                         </div> 
                                                

                                                       
                                                  
                                    
                                                    
                                 </div>
                            </div>

                             

                 
                     
                           
                     
            </div>
            
                   
             
 
 
{% endblock %}


 