  
.container-fluid {
    padding-right:  2rem;
    padding-left:  2rem;
}
.container-main{
    padding: 2rem 2rem;
    margin-bottom: 2rem; 
    border-radius: .3rem;
}
.slider{
    background-color: #e9ecef; 
    margin-bottom: 2rem;  
}

.jumbotron-3 {
    position: relative;
    background: #0000006b url("http://cdn.himpfen.com/post/compass.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #fff;
}


 




/* MENU-LEFT
-------------------------- */
/* layout */
#left ul.nav {
    margin-bottom: 2px; 
}
#left ul.nav ul,
#left ul.nav ul li {
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#left ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left ul.nav ul.children {
    padding-left: 12px;
    width: auto;
}
#left ul.nav ul.children li{
    margin-left: 0px;
}
#left ul.nav li a:hover {
    text-decoration: none;
}

#left ul.nav li a:hover .lbl {
    color: #999!important;
}

/* #left ul.nav li.current>a .lbl {
    background-color: #999;
    color: #fff!important;
} */

/* parent item */
#left ul.nav li.parent a {
    padding: 0px;
    color: #000;
}
#left ul.nav>li.parent>a {
    border: solid 0px #999; 
}    
/* #left ul.nav li.parent a:hover {
    background-color: #fff;
    -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);    
} */

/* link tag (a)*/
#left ul.nav li.parent ul li a {
    color: #222;
    border: none;
    display:block;
    padding-left: 5px;    
}

#left ul.nav li.parent ul li a:hover {
    background-color: #fff;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;  
}

/* sign for parent item */
#left ul.nav li .sign {
    display: inline-block;
    width: 14px;
    padding: 5px 8px;
    background-color: transparent;
    color: #fff;
}
#left ul.nav li.parent>a>.sign{
    margin-left: 0px;
    background-color: #999;
}

/* label */
#left ul.nav li .lbl {
    padding: 6px 5px;
    display: inline-block;
}
#left ul.nav li.current>a>.lbl { 
        color: #075cb8;
        font-weight: bold; 
    
}
#left ul.nav li.current>a>.icon  { 
    color: #075cb8;
    font-weight: bold; 

}

#left ul.nav  li a .lbl{
    font-size: inherit;
}
.asteriskField {
    display: none;
}
.thumb-image{
    float:left;width:100%;
    position:relative;
    padding:5px;
}
#remaining {
    padding: 1%;
    /* margin-top: -5%; */
    /* margin-left: -20%; */
    align-content: end;
    position: fixed;
    z-index: 1;
    align-self: start;
}
/* .breadcrumb {
    background-color: transparent;
    margin-top: 0.5%;
    margin-bottom: -1%;
    font-size: 16px;
} */
.text-info {
    color: #ffffff!important;
}

.bg-info {
    background-color: #383d41a1!important;
}   

.time-allowance{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box; 
}
.text-danger{
    color:#ffffff!important;    
}
.text-warning{
    color:#ffffff!important;    
}
 
.exam-nav-link.active{
    background-color: #5690ce;
   
}
 
.exam-nav-link :hover{
    background-color: #62a4eb; 
}
.exam-nav-button{
    padding: 4px;
}
.exam-nav-link{ 
color: #000!important;     
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
width: 40px; 
margin: 2px;
text-align: center;
align-items: center;
}
.input-group-text{
    
    background-color: #5690ce;
}
 
#left {
    height: 100%;   
    
    position: fixed;  
    z-index: 1;    
    top: 0;  
    left: 0; 
    overflow: hidden;  
    padding-top: 90px;
    
} 
#main-panel{  
    float: right; 
}

.btn.btn-icon, .navbar .navbar-nav > li > a.btn.btn-icon {
    padding: 7px;
}
.btn-sm {
    font-size: 12px;
    border-radius: 26px;
    padding: 4px 10px;
}


.card .category, .card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

h5, .h5 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 15px;
}