{% extends 'cmsbase.html' %}
{% load crispy_forms_tags %}
{% block brand %}
Manage Contents
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'instructor_reviewprograms' %}">Review Programs</a></li>
  <li><a href="{% url 'edit_reviewprogram' reviewprogram.id %}">{{ reviewprogram.title }}</a></li>
  <li><a href="{% url 'list_lessons' reviewprogram.id %}">Lessons</a></li>
  <li class="active">{{ lesson.title }}</li>
</ul>
{% endblock %}


{% block messages %}{% include 'showmessages.html' %}{% endblock %}
{% block header %}Editing lesson {{ lesson.title }}{% endblock %}
{% block content %}
 
   
<div class="card">
    <div class="header">
        <h4 class="title">Editing Review Program {{ reviewprogram.title }}</h4>
    </div>
    <div class="content">

  <form class="center" action="{% url 'edit_lesson' reviewprogram.id lesson.id  %}"
  method="POST"> 
  {% csrf_token %}
  {{ form.media }}
  {{form|crispy}}
  {% block additional_forms %}{% endblock %}

  <button class="btn btn-primary" id="submit" type="submit" name="update">
      Update
    </button>
    <button class="btn btn-danger" id="delete" name="delete"
      onclick="return confirmDelete()">
      Delete
    </button>
  </form>      

</div>
 
</div>

   
  
 
{% endblock %} 

 